html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure html and body take full height */
}

* {
  box-sizing: border-box; /* Consistent box model */
}

.app-container {
  display: flex;
  height: 100%; /* Changed from 100vh to 100% to inherit from body/html */
  /* padding: 0; */
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
  overflow-y: auto;
}
